/* Media Queries */
@media all and (max-width: 768px) {
  #side_bar {
    min-width: 7.5rem;
  }

  #side_bar .logo a:nth-child(1n+2), #side_bar span, #side_bar h4, #playlist, #user_download span, #user_download hr {
    display: none;
  }

  #install_app, #profile {
    position: relative;
    padding: 1rem;
  }

  #user_download a {
    padding-left: 0;
  }

  #install_app img, #profile_img {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    margin-right: 0;
  }

  .subscribe_banner {
    height: 6rem;
    width: calc(100% - 7.5rem);
  }

  .cover_section {
    width: calc(100% - 7.5rem);
  }

  .item, #created_for .item, #popular .item {
    width: 50%;
  }

  #slider {
    width: 45%;
  }

  #icons {
    padding-left: 2.5rem;
  }

  #icons i {
    display: block;
  }

  #icons i:last-child {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .player_top {
    width: auto;
    margin: 0;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  nav {
    padding: 0 7rem;
  }

  .item, #created_for .item, #popular .item {
    width: 50%;
  }

  #slider {
    width: 50%;
  }

  #icons {
    padding-left: 2.5rem;
  }

  #icons i {
    display: block;
  }

  #icons i:last-child {
    padding-left: 0;
    padding-top: 0.5rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  nav {
    padding: 0 3.5rem;
  }

  .item, #created_for .item, #popular .item {
    width: 25%;
  }

  #slider {
    width: 65%;
  }
}

@media all and (max-width: 1199px) {
  #recently_played {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 345px) {
  .subscribe_banner i {
    display: block;
  }

  .subscribe_banner i:hover, .subscribe_banner i:focus {
    color: #1DB954;
  }

  .subscribe_banner button {
    display: none;
  }

  .cover_section h4 {
    font-size: 1.5rem;
  }

  .cover_section p {
    font-size: 1.1rem;
  }

  .player_top i:nth-child(4n+1) {
    display: none;
  }

  .widget:nth-child(3) i, #volume_slider {
    display: none;
  }

  #site_footer .widget.d-flex {
    justify-content: center;
  }

  #menu_sm_right {
    display: block;
  }
}

@media all and (max-width: 380px) {
  .widget h5, .widget p {
    display: none;
  }

  #menu_sm_left {
    display: inline-block;
  }

}

@media all and (max-width: 480px) {
  #icons {
    display: none;
  }
}

@media all and (max-width: 503px) {
  .player_bottom span:not(:nth-child(2)) {
    display: none;
  }

  #slider {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 572px) {
  .cover_section nav {
    display: none;
  }

  #nav_sm {
    display: block;
  }

  #nav_sm:hover, #nav_sm:focus {
    color: #1DB954;
  }

  #icons {
    padding-left: 1rem;
  }
}

@media all and (max-height: 580px) {
  #user_download {
    display: none;
  }
}

@media all and (max-height: 150px) {
  .subscribe_banner {
    display: none;
  }

  .cover_section {
    padding: 0;
  }
}
