/* Utility */
.d-flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.pt_2 {
  padding-top: 2rem;
}
/* Body & Main*/
body {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#site_content {
  height: calc(100% - 6rem);
}

/* Sezione Sidebar */
#side_bar {
  position: relative;
  min-width: 25rem;
  background-color: rgb(4, 4, 4);
  overflow-y: hidden;
}

#side_bar .logo img {
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 65%;
}

#side_bar .logo .logo_sm {
  max-width: 5rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#side_menu .menu_logo {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;
}

#side_bar h4 {
  font-weight: 700;
  padding-left: 2rem;
  font-size: 2rem;
}

#side_bar ul {
  list-style: none;
  padding-left: 0;
}

#side_bar li a {
  display: inline-block;
  color: rgb(179, 179, 179);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  padding-left: 2rem;
  transition: color 1s ease-out;
}

#playlist i {
  font-size: 4.5rem;
  margin-right: 1.5rem;
}

#playlist ul:first-child i{
  vertical-align: middle;
}

#side_bar li a:hover, #side_bar li a:focus {
  border-left: 4px solid #ADFF2F;
  text-decoration: none;
  color: white;
}

#user_download {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(4, 4, 4);
}

#user_download hr {
  margin: 0 1.5rem;
  color: rgb(179, 179, 179);
  background: rgb(179, 179, 179);
  border: 0;
  height: 1px;
}

#install_app div, #profile div {
  display: inline-block;
}

#install_app img {
  height: 2rem;
  margin-right: 1.5rem;
}

#install_app a {
  display: inline-block;
  color: rgb(179, 179, 179);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0;
  padding-left: 2rem;
  transition: color 1s ease-out;
}

#profile_img {
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgb(128, 128, 128);
  background-image: url('../img/profile.svg');
  background-position: center;
  border-radius: 50%;
  margin-right: 1.5rem;
  vertical-align: middle;
}

#profile a {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  padding-left: 2rem;
  transition: color 1s ease-out;
}

#install_app a:hover, #install_app a:focus {
  text-decoration: none;
  color: white;
}

#profile a:hover, #profile a:focus {
  text-decoration: none;
  color: #1DB954;
}

/* Sezione Banner */
.subscribe_banner {
  height: 6rem;
  width: calc(100% - 25rem);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(4, 4, 4, 0.6);
  justify-content: flex-end;
  padding: 1.5rem 3rem;
}

.subscribe_banner button {
  background-color: rgba(4, 4, 4, 0.6);
  color: white;
  border: 1px solid white;
  border-radius: 50rem;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2rem;
  transition: all 2s;
  transition-timing-function: ease-in-out;
}

.subscribe_banner button:hover {
  border-color: #1DB954;
  background-color: #1DB954;
}

/* Sezione Navbar */
nav {
  width: 100%;
  justify-content: center;
}

.navlink {
  position: relative;
  text-decoration: none;
  color: #808080;
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.8rem;
  padding: 2.5rem 2rem 0;
  transition: all 1s ease-in;
}

.navlink::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  opacity: 0;
  width: 4rem;
  height: 3px;
  background-color: #ADFF2F;
  transition: all 1s ease-in;
}

.navlink:hover {
  text-decoration: none;
  color: white;
}

.navlink:hover.navlink::after {
  opacity: 1;
}

/* Sezione Covers */
.cover_section {
  width: calc(100% - 25rem);
  background-color: rgb(20, 25, 34);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6rem 2rem 0;
}

.cover_section h2 {
  font-weight: 700;
  padding-top: 2rem;
}

.cover_section h2:first-of-type {
  padding: 2rem 0;
}

.item {
  margin-right: 2rem;
}

.item_img {
  position: relative;
}

.item_img img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s linear;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.item h4 {
  font-weight: 800;
  margin-top: 2rem;
}

.cover_section p {
  font-weight: 700;
  color: #808080;
}

#popular img {
  border-radius: 50%;
}

#popular .overlay {
  border-radius: 50%;
}

/* Footer */
#site_footer {
  background-color: rgb(40, 40, 40);
  height: 6rem;
}

.widget {
  padding: 1rem;
  flex-basis: 33.33%;
}
/* .widget:nth-child(2) {
  width: calc(100% - 50rem);
  padding: 1rem;
}

.widget:not(:nth-child(2)) {
  width: 25rem;
  padding: 1rem;
  position: relative;
} */

.widget img {
  height: 4rem;
  padding-right: 1rem;
}

.widget span {
  display: inline-block;
  vertical-align: middle;
}

.widget a {
  text-decoration: none;
}

.widget a:hover {
  text-decoration: underline;
  color: white;
}

.widget h5, .widget p {
  margin: 0;
}

.widget h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.widget p {
  font-size: 1rem;
  font-weight: 700;
  color: #808080;
}

#icons {
  padding-left: 5rem;
}

#icons i {
  font-size: 2rem;
  color: #808080;
}

#icons i:last-child {
  padding-left: 1rem;
}

.player_top i:not(:last-child) {
  padding-right: 2rem;
}

.player_top i {
  font-size: 1.2rem;
}

.player_top i:nth-child(3) {
  font-size: 2.5rem;
}

.player_top i {
  vertical-align: middle;
}

.player_bottom span {
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

#slider {
  position: relative;
  width: 75%;
  height: 4px;
  border-radius: 1rem;
  background-color: #808080;
  margin: 0 1.5rem;
}

#slider::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 25%;
  height: 4px;
  background-color: #D3D3D3;
  border-radius: 1rem;
}

#slider::after {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border: 0.5px solid rgb(40, 40, 40);
  border-radius: 50%;
  opacity: 0;
}

#slider:hover#slider::after, #volume_slider:hover#volume_slider::after {
  opacity: 1;
}

#slider:hover#slider::before, #volume_slider:hover#volume_slider::before {
  background-color: #1DB954;
}

#site_footer .widget.d-flex {
  justify-content: flex-end;
  align-items: center;
}

.widget:nth-child(3) i {
  font-size: 1.5rem;
  padding-right: 2rem;
}

#volume_slider {
  position: relative;
  width: 25%;
  height: 4px;
  border-radius: 1rem;
  background-color: #808080;
}

#volume_slider::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 4px;
  background-color: #D3D3D3;
  border-radius: 1rem;
}

#volume_slider::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border: 0.5px solid rgb(40, 40, 40);
  border-radius: 50%;
  opacity: 0;
}

/* Media Queries */
@media all and (max-width: 768px) {
  #side_bar {
    min-width: 7.5rem;
  }

  #side_bar .logo a:nth-child(1n+2), #side_bar span, #side_bar h4, #playlist, #user_download span, #user_download hr {
    display: none;
  }

  #install_app, #profile {
    position: relative;
    padding: 1rem;
  }

  #user_download a {
    padding-left: 0;
  }

  #install_app img, #profile_img {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    margin-right: 0;
  }

  .subscribe_banner {
    height: 6rem;
    width: calc(100% - 7.5rem);
  }

  .cover_section {
    width: calc(100% - 7.5rem);
  }

  .item {
    width: 50%;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  nav {
    padding: 0 7rem;
  }

  .item {
    width: 50%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  nav {
    padding: 0 3.5rem;
  }

  .item {
    width: 25%;
  }
}

@media all and (max-width: 1199px) {
  #recently_played {
    flex-wrap: wrap;
  }
}
